<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="issc.x611.xamarinforms.proyectofinal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="ProyectoFinal.Android" android:icon="@drawable/proyecto_final">
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBE74c2-fnweAL4E04oO-DlrvabrzTJQF8" />
    </application>
</manifest>